<header>
<h1>Mário's Blog</h1>
<nav> 
<div class = "links">    
    <img src="/logotipo" alt="">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contacts</a>
</div>

<div><a href="#"><img src="/blogger.png" alt=""></a>
    <a href="#"><img src="/facebook.png" alt=""></a>
    <a href="#"><img src="/instagram.png" alt=""></a>
    <a href="#"><img src="/whatsapp.png" alt=""></a>
</div>
</nav>

<h2> <%= section %>  </h2>

</header>