<!DOCTYPE html >
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div>
        <form action="">
            <label  for="title"></label>
            <input id="title" type="text" placeholder="title">
            <label for="content"></label>
            <input id="content" type="textarea"  placeholder="content">
            <label for="author"></label>
            <input id="author" type="text" placeholder="author"></div>
            <button type = "submit" id="CreateBlog">CreateBlog</button>
        </form>  
    </main> 
</body> 
</html>