<!DOCTYPE html >
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div>
        <form action="/blogs" method="POST">
            <label  for="title"></label>
            <input id="title" type="text" name = "title" required placeholder="title">
            <label for="content"></label>
            <textarea id="content" type="textarea" name = "content" required placeholder="content"></textarea>
            <label for="author"></label>
            <input id="author" type="text" name = "author" required placeholder="author"></div>
            <button>CreateBlog</button>
        </form>  
    </main> 
</body> 
</html>