<!DOCTYPE html >
<html>
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <a href="/create"><h3>Write your Blog</h3></a>         
    </main>
    <%- include('./partials/footer.ejs') %> 
</body> 
</html>